{% extends 'base.html' %} {% block title %}Détails du produit{% endblock %} {%
block content %}
<main style="text-align: center" class="flex">
  <img alt="{{ produit.nom }}" src="{{ produit.image.url }}" />

  <div class="product-details">
    <div style="justify-content: space-between" class="flex">
      <h2>{{ produit.nom }}</h2>
      <p class="price">${{ produit.prix }}</p>
    </div>

    <p class="description">{{ produit.description }}</p>

    <button
      class="flex add-to-cart"
      id="addToCartBtn"
      data-product-id="{{ produit.id }}"
    >
      <i class="fa-solid fa-cart-plus"></i>
      Ajouter au panier
    </button>
  </div>
</main>
<script src="{% static 'js/add_product.js' %}"></script>
{% endblock %}
